.main-header {
    height: 25px;
    padding: 15px 30px;
    display: flex;
    background-color: var(--color-darkslategray);
}

.logo-text {
    font-weight: bold;
    font-size: 20px;
    margin-left: 12px;
}

.logo-text-1 {
    color: var(--color-coral);
}

.logo-text-2 {
    color: #FFF;
}

@media (max-width: 850px) {
    .main-header {
        justify-content: center;
    }
}